<hello frenetiq-draggable 
	   [drag-model]="'Hello'"
	   [options]="dragoptionsI">
</hello>
<div style="float: left">
	<app-container [options]="optionsI" 
				   [title]="'I'"
				   [color]="'red'">
	</app-container>
</div>
<div style="float: left">
	<app-container [options]="optionsII" 
				   [title]="'II'"
				   [color]="'blue'"> 
	</app-container>
</div>
<div style="float: left">
	<app-container [options]="optionsIII" 
				   [title]="'III'"
				   [color]="'green'"> 
	</app-container>
</div>
<div style="float: left;">
	<app-container [options]="optionsIV" 
				   [title]="'IV'"
				   [color]="'grey'"> 
	</app-container>
</div>
<div style="float: left;">
	<app-container [options]="optionsV" 
				   [title]="'V'"
				   [color]="'grey'"> 
	</app-container>
</div>
 